<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <meta content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no' name='viewport'/>
    <title>无限业务</title>
    <link href="__PUBLIC__/css/test/test.css" rel="stylesheet"/>
    <link href="__PUBLIC__/img/test/abc.ico" rel="shotcut icon"/>
</head>
<body>
<header>
    <div class="text">
        <a><em>加入收藏</em>|<span>联系我们</span></a>
    </div>
</header>
<div id="content">
    <img src="__PUBLIC__/img/test/jian.png" />
    <h1>欢迎访问商家管理平台</h1>
    <br><br><br>
    <img src="__PUBLIC__/img/test/success.png" />
    <h2>恭喜您通过验证，马上开启您的上网之旅吧！<h2>
        
   
</div>
<div id="footer">
    <p><span>成都信息工程大学 通信工程学院</span></p>
</div>
</body>
</html>